/*
Список:
1 - Общие стили
2 - Страница лотереи
3 - Страница купона
4 - Адаптация под мобильные устройства(960px >)
*/


@font-face {
    font-family: 'Roboto', sans-serif; 
    src: url(fonts/Roboto/Roboto-Regular.ttf),
    	 url(fonts/Roboto/Roboto-Bold.ttf);

}

/*flexbox style*/
body, 
header,
main,
.flexbox-grid,
.scratch-off-block,
.text-block,
.coupon-block{
	display: inline-flex;
}

body, 
header, 
.flexbox-grid{
	width: 100%;
}

body{
	height: 100vh;
	font-family: 'Roboto', sans-serif;

	align-items:center;
	justify-content: center;
}

/*1 - Общие стили*/

/*главный контейнер*/
.container{
	height: auto;
	width: 540px;
}


/*шапка контейнера*/
header{
	color: #fff;
	background: #7B4589;
	border-radius: 8px 8px 0 0;
	
	align-items: center;
	justify-content: space-between;
}

header > *{
	padding: 0 20px;
}

header h1{
	font-size: 18px;
	font-weight: bold;
}


/*тело контейнера*/
main{
	width: 100%;
	height: 460px;
	position: relative;

	flex-wrap: wrap;
	justify-content: center; 
}

/*подвал контейнера*/
footer{
	padding: 5px;
	font-size: 12px;
	background: #7B4589;
	border-radius: 0 0 8px 8px;
}

footer img{
	vertical-align: middle;
}

form input[type='submit']{
	cursor: pointer;
}


/*2 - Страница лотереи*/

/*тело контейнера*/
.main-lotery{
	background: url('../img/main_background.png') center no-repeat #9657A8;
	background-size: cover;	
}

/*сетка flexbox-a*/
.flexbox-grid{
	max-width: 460px;

	flex-wrap: wrap;
	align-self: flex-end;
	justify-content: space-between;
}

/*блоки в нутри сетки*/
.scratch-off-block{
	width: 140px;
	height: 100px;
	margin: 8px 0;
	cursor: pointer;

	background: #FFD54F;
}

/*эффект смены содержимого блока*/
.text-block-on{
	display: none;
}

.scratch-on-block{
	width: 140px;
	height: 100px;
	margin: 8px 0;
	
	display: inline-flex;
	border-radius: 6px;

	background: url('../img/pattern_scratched.png') 100% 100% no-repeat #fff;
	background-size: cover;
}

.scratch-on-block > .text-block{
	display: none;
}

.scratch-on-block > .text-block-on{
	width: 100%;
	color: #3D3852;
	font-weight: bold;

	display: inline-flex;
	align-self: center;
	text-align: center;
	justify-content: center;
}
/*конец эффекта*/

.scratch-off-block,
.text-block{
	border-radius: 6px;
	justify-content: center;
}

/*содержимое блока*/
.text-block{	
	width: 100%;
	margin: 6px;
	text-align: center;

	align-items:center;
	flex-direction: column;
	
	border: 2px dashed #FFB300;
}

.text-block p{
	color: #3D3852;
	font-size: 14px;
	font-weight: bold;
}

.text-block img{
	width: 32px;
}

/*последний блок с текстом*/
.bottom-block{
	width: 100%;
	font-size: 14px;
	
	align-self: flex-end;
	background: rgba(0, 0, 0, 0.4);
}

.bottom-block, footer{
	color: #fff;
	font-weight: bold;
	text-align: center;
}

/*всплывающая форма*/
.modal-close {
	display: none;
}

.modal-open{
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);

	position: absolute;
	display: inline-flex;

	animation: eye 3s;
    -webkit-animation: eye 3s;
}

.modal-widow{
	bottom: 0px;
	width: 100%;
	height: 263px;

	overflow: hidden;
	position: absolute;
	display: inline-flex;

	
	background: #fff;
  	align-items: center;
  	justify-content: center;
}

/*анимация для формы*/
@keyframes eye {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*конец анимации*/

.modal-content {
	font-weight: bold;
	text-align: center;
}

.modal-content p {
	color: #9758a8;
	font-size: 14px;
}

.modal-content h2 {
	color: #3d3852;
	font-size: 18px;
	text-align: center;
}

.modal-content input{
	border-radius: 6px;
}

.modal-content input[type='email']{
	color: #bdbdbd;
	font-size: 14px;
	font-weight: normal;
	
	padding: 15px 20px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
}

.modal-content input[type='submit']{
	font-family: "fontello";
	color: #fff;
	margin-left: 5px;
	padding: 15px 15px;
	background: #55b47d;
	border: 1px solid #55b47d;
}


/*3 - Страница купона*/

/*тело контейнера*/
.main-coupon{
	align-items: flex-end;
	background: url('../img/pattern_post.png') 100% 100% no-repeat #9657a8;
	background-size: cover;		
}

.coupon-block{
	color: #fff;

	align-items: center;
	flex-direction:column;
}

.coupon-block h1,
.coupon-block h2{
	margin: 0px; 
}

.coupon-block h1{
	font-size: 36px;
}

.coupon-block p{
	font-size: 18px;
}

/*купон*/
.your_coupon{
	width: 190px;
	height: 100px;
	padding: 20px;

	text-align: center;
	text-transform: uppercase;

	background: url('../img/your_coupon.png') 100% 100% no-repeat #9758a8;
	background-size: cover;
}

.your_coupon p{
	color: #fff;
	font-size: 12px;	
	font-weight: bold;
}

.your_coupon h2{
	color: #ffd54f;
	font-size: 24px;
	line-height: 29px;
}

.coupon-block form input[type='submit']{
	color: #fff;
	width: 190px;
	padding: 15px;

	font-size: 14px;
	font-weight: bold;
	
	border-radius: 6px;
	background: #ffd54f;
	border: 1px solid #ffd54f;
}


/*4 - Адаптация под мобильные устройства(960px >)*/
@media screen and (max-width: 960px){
body{
	width: 100%;
	display: inline-block;
}

main,
.container{
	width: 100%;
}

.container{
	display: inline-flex;
	flex-direction: column;
}
}	

@media screen and (max-width: 420px){
main,
.container{
	height: 100%;
}

.flexbox-grid{
	justify-content: center;
}

.scratch-off-block{
	width: 68px;
	height: 68px;
	margin: 19px;
}

.scratch-on-block{
	width: 68px;
	height: 68px;
	margin: 19px;	
}

.scratch-off-block .text-block p span{
	display: none;
}
}


/*для совсем маленького разрешения */
@media screen and (max-width: 240px){
main, .container{
	height: auto;
}

.coupon-block{
	padding: 10px 5px;
	text-align: center;
	justify-content: center;
}

.modal-content input[type='submit']{
	width: 100%;
	width: 90%;
    margin: 25px 5px;
}

.modal-open{
	height: 350px;
}
}	